<head>
	<title>Rock, paper, scissors in javascript</title>
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/rps.css">
</head>
<body>
<aside>
	<h1>Rock</h1>
	<h1>Paper</h1>
	<h1>Scissors</h1>
	<h1>Lizard</h1>
	<h1>Spock</h1>
</aside>
<article id="game">
	<header>
		<h3 id="msg">Player, please chose your gesture</h3>
		<p id="playerchoices"></p>
		<p id="result"></p>
	</header>
	<article id="main">
		<article id="playchoices">
			<article id="choicestop">
				<a href="#"><img src="./images/lizard.jpg" alt="lizard" id="lizard"></a>
			</article>
			<article id="choicesmiddle">
				<a href="#"><img src="./images/scissors.jpg" alt="scissors" id="scissors"></a>
				<a href="#"><img src="./images/spock.jpg" alt="spock" id="spock"></a>
			</article>
			<article id="choicesdown">
				<a href="#"><img src="./images/rock.jpg" alt="rock" id="rock"></a>
				<a href="#"><img src="./images/paper.jpg" alt="paper" id="paper"></a>
			</article>
		</article>
	</article>
</article>
<script src="./js/jquery-2.1.1.min.js"></script>
<script src="./js/rps.js"></script>
<script src="./js/web.js"></script>
</body>