body{
	width:40%;
	height: 50%;
	text-align: center;
	margin-left: 30%;
	color: rgb(26, 58, 138);
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-image: url('../images/startrekspock.jpg');

}

header{
	padding-top: 6%;
}

header p{
	color: white;
	}

header h1{
	color: white;
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 3%;
}

header h3 {
	color: rgb(112, 145, 228);
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 2em;
}
#playerchoices {
	font-size: 1.5em;
}
#result {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 3em;
	color: white;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	line-height: 1.2em;
	}

#main{
	background-color: rgb(26, 58, 138);
	opacity: 0.6;
	border-radius: 50% / 10%;

    
}


#playchoices{
	display: inline;

}

#lizard{
	padding-top: 4%;
	

}

#choicesmiddle{
	padding-bottom: 2%;


}

#scissors{
	padding-right: 5%;
	padding-bottom: 2%;
}

#spock{
	padding-left: 9%;
	padding-bottom: 2%;
	
}


#paper{
	padding-left: 5%;
	padding-bottom: 4.5%;
}

#rock{
	padding-bottom: 4%;
	padding-left: 2.5%;


}

